.projectCard{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    &:hover{
        background-color: #f2eeee;
    }

    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        height: 30%;
        padding-left: 20px ;
        img{
            width: 40px;
            border-radius: 50%;
            object-fit:cover;
            
        }
        .text{
            
            h2{
                font-size: 14px;
                font-weight: 500;
            }
            span{
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}