.trustedBy{
    display: flex;width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 40px;
    span{
        font-size: 20px;
        font-weight: 600;
        color: rgb(173, 170, 170);
    }
    img{
        height: 50px;
        object-fit: contain;
    }
}